services:
  backend:
    ports:
      - "${BACKEND_PORT:-8000}:8000"
    volumes:
      - ../backend:/app
    env_file:
      - ../infra/envs/backend.env
    restart: unless-stopped

  bot:
    env_file:
      - ../infra/envs/bot.env
    restart: unless-stopped

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile.dev
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
    volumes:
      - ../frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    env_file:
      - ../infra/envs/frontend.env
    restart: unless-stopped
    stdin_open: true
    tty: true